@use "src/styles/variables" as var;
@use "src/styles/mixins" as mixins;

.heroSectionContainer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 2rem 3rem;
  position: fixed;
  background-image: url("../../assets/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  @include mixins.breakpoint(md) {
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  .heroSectionContent {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;

    .heroSectionTitle {
      font-size: 9rem;
      font-weight: bolder;
      margin: 0;
      color: var.$primary-500;

      @include mixins.text-shadow(var.$primary-100);
      @include mixins.breakpoint(md) {
        font-size: 6rem;
      }
      @include mixins.breakpoint(sm) {
        font-size: 4rem;
      }
    }

    .heroSectionSubtitle {
      @include mixins.primary-header(var.$font-primary, var.$primary-100);
      @include mixins.breakpoint(md) {
        font-size: 1.5rem;
        color: var.$primary-700;
      }
      @include mixins.breakpoint(sm) {
        font-size: 1.2rem;
      }
    }

    .btn {
      background-color: var.$accent-500;
      color: white;
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
      border-radius: 25px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: var.$accent-600;
        transform: scale(1.05);
      }
      @include mixins.breakpoint(md) {
        font-size: 0.7rem;
        padding: 0.8rem 1.5rem;
      }
    }
  }

  .profileImage {
    width: 400px;
    height: 450px;
    border: 5px solid white;
    @include mixins.breakpoint(md) {
      width: 300px;
      height: 350px;
      border-radius: 50%;
    }
    @include mixins.breakpoint(sm) {
      width: 200px;
      height: 250px;
    }
    @include mixins.breakpoint(xs) {
      width: 150px;
      height: 200px;
    }
  }
}
