@import "variables";
@import "mixins";

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: $font-primary;
  caret-color: transparent;
  overflow-x: hidden;
}
.primary-header-text {
  @include primary-header($font-primary, $primary-100, 1);
}
h1,
h2 {
  font-family: $font-accent;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  @include breakpoint(md) {
    font-size: 3.5rem;
  }
  @include breakpoint(sm) {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
